h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Rajdhani-Bold';
  src: url('./assets/fonts//Rajdhani-Bold.ttf');
}

@font-face {
  font-family: 'Rajdhani-Light';
  src: url('./assets/fonts//Rajdhani-Light.ttf');
}

@font-face {
  font-family: 'Rajdhani-Medium';
  src: url('./assets/fonts//Rajdhani-Medium.ttf');
}

@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('./assets/fonts//Rajdhani-Regular.ttf');
}

@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('./assets/fonts//Rajdhani-Regular.ttf');
}